<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <a href="/travels">Home</a> <a href="/logout">Logout</a>
        <section>
                <h2>{{ place.destination }}</h2>
                <p>Planned By: {{ place.planner.name }}</p>
                <p>Description: {{ place.description }}</p>
                <p>Travel Date From: {{ place.travel_date_from }}</p>
                <p>Travel Date To: {{ place.travel_date_to }}</p>
        </section>
        <h3>Other Users Joining The Trip:</h3>
        {% for joiner in place.joiners.all %}
            <p>{{ joiner.name }}</p>
        {% endfor %}
    </body>
</html>